.keyring-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.keyring-ring {
    position: absolute;
    width: 370px;
    height: 370px;
    top: -200px;
    right: -200px;
    pointer-events: none;
}