.keyring-nav {
    position: fixed;
    top: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
}

.keyring {
    position: absolute;
    width: 370px;
    height: 370px;
    top: -200px;
    right: -200px;
    z-index: 1;
    pointer-events: none;
}

.tag-home,
.tag-about-me,
.tag-projects,
.tag-contact-me {
    position: absolute;
    pointer-events: auto;
}

.tag-home {
    top: 0;
    right: 0;
    z-index: 2;
}

.tag-about-me {
    top: 60px;
    right: 60px;
    z-index: 3;
}

.tag-projects {
    top: 120px;
    right: 120px;
    z-index: 4;
}

.tag-contact-me {
    top: 180px;
    right: 180px;
    z-index: 5;
}

.tag-image {
    width: 100px;
    display: block;
}